Repository a9nna/202301-w4ch1-ana-coronel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.tsx": "eslint",
  "*.{tsx,css,json,md}": "prettier --write"
}

Config prettier rules for ESlint
  package-lock.json
  package.json
Due: prettier --write

Add lintstage rule to pre-commit hook
  .husky/pre-commit
Due: none

Add workflows
  .github/workflows/audit.yml
Due: none

Add workflows
  .editorconfig
  .github/workflows/audit.yml
Due: none

Add a file with the description of the components we are going to use
  components.md
Due: prettier --write

Add the structure from the mock-up
  package-lock.json
  package.json
  public/index.html
  src/index.css
Due: prettier --write

Add the component App
  src/App.tsx
Due: eslint, prettier --write

Add the component info
  src/App.tsx
  src/components/Info/Info.tsx
Due: eslint, prettier --write

Add the component button
  src/App.tsx
  src/components/Button/Button.tsx
Due: eslint, prettier --write

Add images for gentleman cards
  public/img/bertin.jpg
  public/img/fary.jpg
  public/img/john.jpg
  public/img/julio.jpg
Due: none

Add the component gentleman
  src/components/Gentleman/Gentleman.tsx
Due: eslint, prettier --write

Create the list of gentleman with its data
  src/App.tsx
Due: eslint, prettier --write
